<div class="container no-background content-region"> 
	<div class="row">
		<div class="col-sm-12">
			<h2>{{ content.page_title }}</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			{{ content.main }}
		</div>
	</div>
</div>